body {
    line-height: 0% !important;
}

.main-page-background {
    background: url('../../../public/Main page_light.png');
}

.site-layout .site-layout-background {
    background: none;
}

.icons-from-menu {
    color: #061178 !important;
}

.main-content {
    margin: 24px;
}

.trigger {
    position: absolute;
    top: calc(50% - 33px);
    right: -20px;
    height: 66px;
    padding: 0 3px;
    background-color: #fff;
    font-size: 14px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
}
  
.trigger:hover {
    color: #1890ff;
}
  
.logo {
    margin: 30px 0 50px;
    background: rgba(255, 255, 255, 0.3);
}
  
.logo > img {
    margin: 19px 0 18px 18px;
    max-width: 28.55px;
    max-height: 27px;
}

.logo > img.open {
    margin: 14px 0 17px 29px;
    max-width: 133px;
    max-height: 33px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.menu-container > li[class*='ant-menu-item'] {
    margin-top: 0px !important;
    margin-bottom: 18px !important;
}

.ant-menu-inline-collapsed > .ant-menu-item.anticon {
    font-size: 14px !important;
}

@media screen and (max-width: 833.98px) {
    .sider-overlay {
        position: relative;
    }
    
    .sider-overlay .ant-layout-sider {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .sider-overlay .ant-layout-content {
        position: relative;
        z-index: 0;
    }

    .trigger {
        top: 24px;
        right: -29px;
        height: 48px;
        padding: 0 8px;
    }

    .logo {
        margin: 0 0 16px;
    }

    .logo > img {
        overflow: hidden;
        opacity: 0;
    }

    .logo > img.open {
        overflow: visible;
        opacity: 1;
        margin: 16px 0 17px 17px;
        max-width: 72px;
        max-height: 18px;
        transition: all .3s;
    }

    .icons-from-menu {
        display: none !important;
    }

    .menu-container > li[class*='ant-menu-item'] {
        padding: 0 !important;
        margin-bottom: 10px !important;
    }

    .main-content {
        margin: 24px 16px;
    }
}